header {
  font-family: Veranda;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
#logo {
  color: MediumAquamarine;
  padding-left: 10px;
  display: flex;
}
.title-logo {
  padding-left: 10px;
  align-self: center;
  font-weight: bold;
}
.topnav span {
  display: inline-block;
  align-items: center;
  padding: 10px;
}
.topnav span a  {
  color: black;
}
.main-container {
  display: flex;
}
.column-large {
  border: 1px solid black;
  width: 630px;
}
.lead-title {
  border: 1px solid black;
  padding-right: 135px;
}
.stories {
  border: 2px solid black;
}
.image-link {
  border: 1px solid black;
  display: flex;
}
